/* Write your CSS code here. */
.app_container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to right, #ffeeee, #ffebeb, #ffc0bb);
  height: 100vh;
}
.feedback_container {
  background-color: #ffffff;
  width: 40%;
  height: 50%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.heading {
  font-size: 30px;
  font-family: 'Roboto';
  font-weight: 800;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
}
.emoji_container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style-type: none;
}

.emoji_button {
  border: none;
  background-color: #ffffff;
  cursor: pointer;
  outline: none;
  margin-left: auto;
}

.emoji {
  width: 50px;
  height: 50px;
  margin-bottom: 15px;
}
.emoji-name {
  color: #1e293b;
  font-family: 'Roboto';
  font-size: 16px;
}

.thankyou_container {
  background-color: #ffffff;
  width: 40%;
  height: 50%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}
.love_emoji {
  width: 45px;
  height: 45px;
}
.heading_thankyou {
  font-size: 30px;
  font-family: 'Roboto';
  font-weight: 800;
  text-align: center;
}
